grant {
        permission java.io.FilePermission "/usr/lib/x86_64-linux-gnu/libvoikko.so.1.14.2", "read";
        permission java.io.FilePermission "/usr/lib/x86_64-linux-gnu/libvoikko.so.1", "read";
        permission java.io.FilePermission "/usr/lib/x86_64-linux-gnu/libvoikko.so.1.14.2/libvoikko.so.1", "read";
        permission java.lang.reflect.ReflectPermission "newProxyInPackage.org.puimula.libvoikko";
      };
